
#footer {
	background-color: #000;
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
}


.f-contenedor {
	width: 100%;
	height: 50px;
	background: url("./img/icons.png") 98% 5px no-repeat;
}

.m-iconos {
	float: right;
}

.triforce {
	margin: 0 auto;
	position: relative;
	top: -42px;
	text-align: center;
}



.logo {
	float: left;
	margin-left: 15px;
    margin-top: 15px;
    background-color: #000;
}
